body {
  font: 14px "Verdana", Futura, sans-serif;
  margin: 20px;
  background-color: #696969;
  color: #FF8C00;
}

ol, ul {
  padding-left: 0px;
  list-style-type: none;
  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.header{
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #FF8C00;
  border: 3px solid black;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.button {
  background: #FF8C00;
  font-size: 18px;
  border: 0;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  outline: transparent;
  padding: 0.5rem 3rem;
  width: 250px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-weight: bold;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 2rem rgba(239, 71, 101, 0.5), .125rem .125rem 2rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 2rem rgba(239, 71, 101, 0.5), .125rem .125rem 2rem rgba(255, 154, 90, 0.5);
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.game-info {
  text-align: center;
  font-size: 24px;
}
